{% extends 'core/base.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'core/css/sucursales.css' %}"> {% endblock %}
{% block title %} Sucursales {% endblock %}
{% block content%}
<main>
    <section>
        <h2 class="text-center tittle">Nuestras <span>Sucursales</span></h2>
        <div class="row nosotros-info">
            <div class="text-justify">
                <p>En Yoga Yoga contamos con 5 sucursales a lo largo de Santiago,
                    ¿Quieres
                    saber
                    más
                    detalles? Haz click
                    en más información de la
                    sucursal a la que quieres asistir y resuelve tus dudas</p>
            </div>

    </section>
    <section>
        <div class="container" id="suc">
            <div class="row mb-4">
                <div class="col-md-4">
                    <div class="card">
                        <img src="{% static 'core/imgs/sucursales/sucCentral.jpeg' %}" alt="Imagen Sucursal"
                            class="card-img">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">San Joaquín</h5>
                            <div class="d-flex">
                                <i class="bi bi-geo-alt-fill"></i>
                                <p class="card-text">Av. Vicuña Mackenna 4917, San Joaquín</p>
                            </div>
                            <p>- Sucursal Central</p>
                            <button type="button" class="btn mt-auto" data-bs-toggle="modal"
                                data-bs-target="#sucSanJoa"><a href="#sucSanJoa">Más Información</a></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="{% static 'core/imgs/sucursales/sucLaFlorida.jpeg' %}" alt="Imagen Sucursal"
                            class="card-img">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">La Florida</h5>
                            <div class="d-flex">
                                <i class="bi bi-geo-alt-fill"></i>
                                <p class="card-text">Froilán Roa 7107, La Florida</p>
                                <p class="card-text text-danger" id="nueva">¡Nueva!</p>
                            </div>
                            <button type="button" class="btn mt-auto" data-bs-toggle="modal"
                                data-bs-target="#sucLaFlor"><a href="#sucLaFlor">Más Información</a></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="{% static 'core/imgs/sucursales/sucProvidencia.jpeg' %}" alt="Imagen Sucursal"
                            class="card-img">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Providencia</h5>
                            <div class="d-flex">
                                <i class="bi bi-geo-alt-fill"></i>
                                <p class="card-text">Antonio Varas 666, Providencia</p>
                            </div>
                            <button type="button" class="btn mt-auto" data-bs-toggle="modal"
                                data-bs-target="#sucProv"><a href="#sucProv">Más
                                    Información</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-4">
                    <div class="card">
                        <img src="{% static 'core/imgs/sucursales/sucMaipu.jpeg' %}" alt="Imagen Sucursal" class="card-img">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Maipú</h5>
                            <div class="d-flex">
                                <i class="bi bi-geo-alt-fill"></i>
                                <p class="card-text">Av. Esq. Blanca 501, Maipú</p>
                            </div>
                            <button type="button" class="btn mt-auto" data-bs-toggle="modal"
                                data-bs-target="#sucMaipu"><a href="#sucMaipu">Más Información</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Modal -->
    <div class="modal fade" id="sucSanJoa" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title fs-5">San Joaquín</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p><span>Dirección: </span> Av. Vicuña Mackenna 4917, San
                        Joaquín </p>
                    <p><span>Teléfono: </span> +56 9 1470 2581</p>
                    <p><span>Email: </span> contacto@yogayoga.cl</p>
                    <p><span>Horario de atención: </span> 10:00 - 17:00</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 2 -->
    <div class="modal fade" id="sucLaFlor" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">x
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title fs-5">La Florida</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="fs-6 text-danger">¡NUEVA!</p>
                    <p><span>Dirección: </span> Froilán Roa 7107, La Florida </p>
                    <p><span>Teléfono: </span> +56 9 1470 2321</p>
                    <p><span>Email: </span> florida@yogayoga.cl</p>
                    <p><span>Horario de atención: </span> 10:00 - 17:00</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 3 -->
    <div class="modal fade" id="sucProv" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">x
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title fs-5">Providencia</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p><span>Dirección: </span> Antonio Varas 666, Providencia </p>
                    <p><span>Teléfono: </span> +56 9 5790 1043</p>
                    <p><span>Email: </span> providencia@yogayoga.cl</p>
                    <p><span>Horario de atención: </span> 10:00 - 17:00</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal 4 -->
    <div class="modal fade" id="sucMaipu" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title fs-5">Maipú</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p><span>Dirección: </span> Av. Esq. Blanca 501, Maipú</p>
                    <p><span>Teléfono: </span> +56 9 5790 1043</p>
                    <p><span>Email: </span> maipu@yogayoga.cl</p>
                    <p><span>Horario de atención: </span> 10:00 - 17:00</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 5 -->
    <div class="modal fade" id="sucSanBer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title fs-5" id="exampleModalLabel">San Bernardo</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p><span>Dirección: </span> Freire 862, 8071189 San Bernardo</p>
                    <p><span>Teléfono: </span> +56 9 3780 9234/p>
                    <p><span>Email: </span> sanbernardo@yogayoga.cl</p>
                    <p><span>Horario de atención: </span> 10:00 - 17:00</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}