:root {
    --color-primary: #fa734e;
    --color-primary-light: #f8cfc4;
    --color-dark: #343a40;
}

main {
    margin-top: 160px;
}

.a {
    display: flex;
    justify-content: flex-start;
}

.title {
    margin-top: 100px;
}

.agregar {
    margin: 10px;
}

#eliminar i {
    margin-left: 5px;
    filter: invert(100%) sepia(100%) saturate(0) hue-rotate(108deg);
}

#product-card__image {
    width: 300px;
    height: 300px;
}

#product-card {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 280px;

    background-color: #f8cfc4;
    padding: 10px;
    border-radius: 8px;
    overflow-y: hidden;
}

#product-card__image {
    display: block;
    max-width: 100%;
    animation: fadeIn .25s;
}

#product-card__caption {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f4b09d;
    font-size: 14px;
    color: black;
    letter-spacing: 1px;
    padding: 20px;
    border-radius: inherit;
    animation: fadeIn .5s;
}

#product-card__title {
    font-size: 18px;
    text-transform: uppercase;
}

#product-card__subtitle {
    color: #535353;
}

#product-card__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f4b09d;
}

#product-card__price {
    font-weight: 600;

}

#product-card__button {
    display: grid;
    place-items: center;
    width: 30px;
    height: 30px;
    background-color: white;
    color: black;
    outline: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.25s;
}

#product-card__icon {
    font-size: 18px;
    transition: transform 0.25s;
}

#container-main {
    display: flex;
    justify-content: center;

}

#centrado {
    display: flex;
    justify-content: center;
}

@media (max-width: 767px) {
    .row {
        justify-content: center;
    }

    .col-sm-6 {
        flex-basis: 100%;
    }
}


@media(max-width:781px) {
    body {
        margin-top: 230px;
    }
}

body.dark-mode {
    color: white;
}